<ion-view title="Accounts" id="page2">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.financialManager" id="accounts-button14" style="border-radius:30px 30px 30px 30px;" class="button button-energized  button-block icon-left ion-android-add-circle">Enroll Acccount</a>
        <div class="item item-body" id="accounts-list-item-container1">
            <h2 id="accounts-heading3" style="color:#000000;font-weight:300;">Debit</h2>
            <ion-list id="accounts-list5">
                <ion-item class="item-icon-left dark" id="accounts-list-item10" href="google.com">
                    <i class="icon ion-card"></i>0999-0098-2223</ion-item>
                <ion-item class="item-icon-left item-icon-right energized" id="accounts-list-item2">
                    <i class="icon ion-card"></i>0999-0098-2223
                    <i class="icon ion-android-checkmark-circle"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body" id="accounts-list-item-container2">
            <h2 id="accounts-heading4" style="color:#000000;">Credit</h2>
            <ion-list id="accounts-list8">
                <ion-item class="item-icon-left dark" id="accounts-list-item12">
                    <i class="icon ion-card"></i>0999-0098-2223</ion-item>
            </ion-list>
        </div>
        <div class="item item-body" id="accounts-list-item-container3">
            <h2 id="accounts-heading8" style="color:#000000;">Check In Account</h2>
            <ion-list id="accounts-list10">
                <ion-item class="item-icon-left" id="accounts-list-item11">
                    <i class="icon ion-ionic"></i>Item</ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>