<ion-view title="E- Banking" id="page3">
    <ion-content padding="true" class="has-header">
        <h3 id="eBanking-heading12" style="color:#E64A19;font-weight:300;">Debit</h3>
        <button id="eBanking-button7" style="font-size:16px;" class="button button-energized  button-block icon-left ion-ios-bolt-outline button-outline">Pay Utilities</button>
        <button id="eBanking-button8" style="font-size:16px;" class="button button-energized  button-block icon-left ion-ios-undo button-outline">E-Pass</button>
        <button id="eBanking-button15" style="font-size:16px;" class="button button-energized  button-block icon-left ion-android-add button-outline">Apply Debit Card</button>
        <h3 id="eBanking-heading7" style="color:#E64A19;font-weight:300;">Credit</h3>
        <a ui-sref="tabsController.pastTransactions" id="eBanking-button13" style="font-size:16px;" class="button button-energized  button-block icon-left ion-ios-list-outline button-outline">View Transactions</a>
        <button id="eBanking-button16" style="font-size:16px;" class="button button-energized  button-block icon-left ion-android-add button-outline">Apply Credit Card</button>
        <h3 id="eBanking-heading13" style="color:#E64A19;font-weight:300;">Checking</h3>
        <button id="eBanking-button17" style="font-size:16px;" class="button button-energized  button-block icon-left ion-android-add button-outline">Apply Checking Account</button>
    </ion-content>
</ion-view>