<ion-view title="Financial Manager" id="page8">
    <ion-content padding="true" class="has-header">
        <h4 id="financialManager-heading6" style="color:#1A7C22;font-weight:300;">Current balance:</h4>
        <h2 id="financialManager-heading5" style="color:#356909;font-weight:300;">Php 1,000,000.00</h2>
        <div class="row">
            <div class="col col-50">
                 <a ui-sref="tabsController.goalStatics" id="financialManager-button22" class="button button-balanced  button-block icon-left ion-android-arrow-up button-outline">30%</a>
            </div>
            <div class="col col-50">
                <a ui-sref="tabsController.expenseStats" id="financialManager-button23" class="button button-energized  button-block icon-left ion-android-arrow-down button-outline">50%</a>
            </div>
        </div>
      
        <div class="item item-body" id="financialManager-list-item-container5">
            <div class="row">
                <div class="col col-75">
                     <h2 id="financialManager-heading11" style="color:#0B740F;font-weight:600;">Goals</h2>
                </div>
                <div class="col col-25">
                    <button id="financialManager-button9" ui-sref="createGoal" style="text-align:left;" class="button button-large button-balanced  icon-right ion-android-add-circle button-clear col col-25"></button>
                </div>
            </div>
           
            
            <ion-list
                      show-delete="shouldShowDelete"
                      show-reorder="shouldShowReorder"
                      can-swipe="listCanSwipe">
              <ion-item ng-repeat="item in items"
                      >

                <h2>{{item.str_goal}}</h2>
                <p>{{item.deci_value}}</p>
                <ion-option-button class="button-positive"
                                   ng-click="vm.share(item)">
                  Share
                </ion-option-button>
                <ion-option-button class="button-info"
                                   ng-click="vm.edit(item)">
                  Edit
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="items.splice($index, 1)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon"
                                    on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>

              </ion-item>
            </ion-list>
        </div>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <div class="item item-body" id="financialManager-list-item-container4">
            <div class="row">
                <div class="col col-75">
                    <h2 id="financialManager-heading9" style="color:#FF5F00;font-weight:600;" class="half">Expenses</h2>
                </div>
                <div class="col col-25">
                    <button id="financialManager-button18" style="text-align:left;" class="button button-energized  icon ion-android-settings button-clear icon-right"></button>
                </div>
            </div>
            
            
            <ion-list id="financialManager-list11">
                <ion-item class="item-icon-left energized" id="financialManager-list-item13">
                    <i class="icon ion-paintbrush"></i>Art Materials
                    <span class="item-note">P2,000.00</span>
                </ion-item>
                <ion-item class="item-icon-left energized" id="financialManager-list-item8">
                    <i class="icon ion-model-s"></i>Transportation
                    <span class="item-note">P500.00</span>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>