<ion-view title="Financial Manager" id="page8">
    <ion-content padding="true" class="has-header">
        <h4 id="financialManager-heading6" style="color:#1A7C22;font-weight:300;">Current balance:</h4>
        <h2 id="financialManager-heading5" style="color:#356909;font-weight:300;">Php 1,000,000.00</h2>
        <a ui-sref="tabsController.goalStatics" id="financialManager-button22" class="button button-balanced  button-block icon-left ion-android-arrow-up button-outline half">30%</a>
        <a ui-sref="tabsController.expenseStats" id="financialManager-button23" class="button button-energized  button-block icon-left ion-android-arrow-down button-outline half">50%</a>
        <div class="item item-body" id="financialManager-list-item-container5">
            <h2 id="financialManager-heading11" style="color:#0B740F;font-weight:600;" class="half">Goals</h2>
            <button id="financialManager-button9" style="text-align:left;" class="button button-balanced  icon-left ion-android-add-circle button-clear"></button>
            <ion-list id="financialManager-list13">
                <ion-item class="item-icon-left balanced" id="financialManager-list-item16">
                    <i class="icon ion-earth"></i>Travel
                    <span class="item-note">50%</span>
                </ion-item>
            </ion-list>
        </div>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <div class="item item-body" id="financialManager-list-item-container4">
            <h2 id="financialManager-heading9" style="color:#FF5F00;font-weight:600;" class="half">Expenses</h2>
            <button id="financialManager-button18" style="text-align:left;" class="button button-energized  icon ion-android-settings button-clear"></button>
            <ion-list id="financialManager-list11">
                <ion-item class="item-icon-left energized" id="financialManager-list-item13">
                    <i class="icon ion-paintbrush"></i>Art Materials
                    <span class="item-note">P2,000.00</span>
                </ion-item>
                <ion-item class="item-icon-left energized" id="financialManager-list-item8">
                    <i class="icon ion-model-s"></i>Transportation
                    <span class="item-note">P500.00</span>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>