<ion-view title="Goal Statics" id="page14">
    <ion-content padding="true" class="has-header"></ion-content>
    <ion-list can-swipe="listCanSwipe">
      <ion-item ng-repeat="goal in vm.goalList"
                class="item-thumbnail-left">

        <h2>{{goal.title}}</h2>
        <p>{{goal.description}}</p>
        <h2>asdf</h2>
        <ion-option-button class="button-positive"
                          >
          Share
        </ion-option-button>
        <ion-option-button class="button-info"
                          >
          Edit
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled"
                          >
        </ion-delete-button>
        <ion-reorder-button class="ion-navicon"
                            >
        </ion-reorder-button>

      </ion-item>
    </ion-list>
</ion-view>