<ion-view title="Promos" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="promos-card22">
            <ion-item class="item-icon-left" id="promos-list-item17">
                <i class="icon ion-ios-flask"></i>Formula for promo</ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <ion-item class="item-icon-left energized" id="promos-list-item18">
                <i class="icon ion-more"></i>View Details</ion-item>
        </div>
        <div class="item item-body" id="promos-list-item-container7">
            <div id="promos-markdown3" style="margin-top:0px;color:#000000;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>