<ion-view title="Signup" id="page7" class="button-outline">
    <ion-content padding="true" class="has-header">
        <form id="signup-form3" class="list">
            <ion-list id="signup-list3">
                <label class="item item-input" id="signup-input5">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input9">
                    <span class="input-label">Contact No.</span>
                    <input type="number" placeholder="">
                </label>
                <label class="item item-input" id="signup-input6">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input7">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input8">
                    <span class="input-label">E-mail</span>
                    <input type="email" placeholder="">
                </label>
            </ion-list>
            <button id="signup-button5" style="font-weight:300;" class="button button-positive  button-block button-primary">Sign up</button>
            <button id="signup-button24" style="font-weight:300;" class="button button-energized  button-block button-outline">Cancel</button>
        </form>
    </ion-content>
</ion-view>