<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-energized tabs-icon-top" id="tabsController-tabs1">
        <ion-tab title="" icon="ion-card" href="#/homeTab/homePage" id="tabsController-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="" icon="ion-cash" href="#/homeTab/eBanking" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="" icon="ion-podium" href="#/homeTab/tab5/financeMan" id="tabsController-tab5">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="" icon="ion-android-list" href="#/homeTab/promos" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>